.singleProductFocused {
  .singleProductFocused__title {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 30px;

    .singleProductFocused__title__freeDelivery,
    .singleProductFocused__title__onTimeDelivery,
    .singleProductFocused__title__worldWideDelivery {
      display: flex;
      font-size: 15px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background: rgba(236, 240, 241, 0.4);
      border-radius: 16px;
      color: rgb(71, 71, 71);
      line-height: 1.5;
      margin-right: 20px;

      i {
        font-size: 30px;
        font-weight: 400;
        margin-left: 20px;
      }
    }

    .singleProductFocused__title__onTimeDelivery {
      background: rgba(46, 204, 113, 0.2);
    }

    .singleProductFocused__title__worldWideDelivery {
      background: rgba(52, 152, 219, 0.1);
    }
  }

  // section => product details
  .singleProductFocused__product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    // section => product image
    .singleProductFocused__productImage {
      width: 40%;
      max-height: 500px;

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
        }
      }
    }

    // section => product details
    .singleProductFocused__productDetails {
      width: 60%;
      padding: 10px 30px;
      line-height: 1.3;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          .discounted {
            text-decoration: line-through;
            color: rgb(141, 141, 141);
          }
        }

        .product_quantity {
          margin: 20px 0;
          display: flex;
          align-items: center;

          h4 {
            margin-bottom: 10px;
          }
          input {
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 15px;
          }

          .MuiButton-root {
            height: 40px;
          }
        }
      }

      .product_colors {
        margin: 15px 0;

        .MuiButton-root {
          margin-right: 10px;
        }
      }

      .product_description {
        color: #4a4a4a;
        font-size: 15px;
        line-height: 1.5;
      }

      .additional_information {
        margin-top: 10px;
        margin-bottom: 10px;

        div {
          display: flex;
          align-items: center;
          margin: 10px 0;

          i {
            margin-right: 5px;
            font-size: 18px;
          }
        }
      }

      .checkout {
        display: flex;
        flex-wrap: wrap;

        .MuiButton-root {
          min-width: 0;

          &.checkout__addToCart {
            margin-right: 15px;
            background: #000;
            color: #fff;
            padding: 8px 20px;
            display: flex;
            align-items: center;

            i {
              font-size: 18px;
            }

            // &::after {
            //   content: "";
            //   position: absolute;
            //   border: 2px solid #fff;
            //   display: block;
            //   width: 100%;
            //   height: 100%;
            //   z-index: 0;
            //   top: 5px;
            //   left: 5px;
            // }
          }

          &.checkout__heart {
            padding: 8px 15px;
            border: 1px solid #000;
          }
        }
      }
    }
  }

  // section => similar products
  .singleFocused_similiarProducts {
    border-top: 0.5px solid grey;
    margin-top: 30px;
    padding-top: 25px;

    h2{
      margin-bottom: 20px;
    }

    .singleFocused_similiarProducts__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
